{% extends 'base.html' %}
{% load static %}
{%block content%}
{%if no_faces%}
<div class="container">
  <div class="logo text-center mb-3"><img src="{% static 'images/logo1.png'%}" alt="Logo" style="height: 50px !important; width: auto !important;"></div>
  <hr />
  <div class="alert alert-danger">
    No faces detected. Cannot process the video.
  </div>
</div>
{%else%}
<div class="container">
  <div class="logo text-center mb-3"><img src="{% static 'images/logo1.png'%}" alt="Logo" style="height: 50px !important; width: auto !important; margin-top: 10px;"></div>
  <hr />
  <div id="preprocessed_images" class="col-12 mt-4 mb-2">
    <h3>Frames:</h3>
    {% for each_image in preprocessed_images %}
    <img src="{%static each_image%}" class="preprocess" width=auto height="250" />
    {%endfor%}
  </div>  
  <div id="faces_images" class="col-12 mb-2">
    <h3>Cropped Faces:</h3>
    {% for each_image in faces_cropped_images %}
    <img src="{%static each_image%}" class="faces" width=auto height="150" />
    {%endfor%}
  </div>
  <div class="result text-center">
    <h3>Video: </h3>
    <video height="320" width="640" id="predict-media" controls>
      <source src="{{MEDIA_URL}}{{original_video}}" type="video/mp4" codecs="avc1.4d002a" />
    </video>
    {%if output == "REAL" %}
    <h4 class="mx-auto">Result: <span style="color:green">{{output}}</span>
      <img src="{% static 'images/thumpup.png'%}" alt="real" height="100px" width=auto>
      {%else%}
      <h4 class="mx-auto">Result: <span style="color:red">{{output}}</span>
        <img src="{% static 'images/thumpdown.png'%}" alt="fake" height="100px" width=auto >
      {%endif%}
  </div>
{%endif%}
{%endblock%}
{%block js_cripts%}
<script src="{%static 'js/face-api.min.js'%}"></script>
<script>
  $(document).ready(function () {
    const video = document.getElementById("predict-media");
    const xOffset = 235;
    const yOffset = 30;
    Promise.all([
      faceapi.nets.ssdMobilenetv1.loadFromUri('/static/json'),
      faceapi.nets.tinyFaceDetector.loadFromUri("/static/json")
    ]).then(() => {
      var detectionTimeout;
      video.addEventListener("playing", () => {
        var canvas;
        const videoContainer = video.parentElement;
        if (videoContainer.querySelector('canvas') === null) {
          canvas = faceapi.createCanvasFromMedia(video);
          canvas.style.position = 'absolute';
          canvas.style.top = '0';
          canvas.style.left = '0';
          videoContainer.appendChild(canvas);
        } else {
          canvas = videoContainer.querySelector('canvas');
        }
        const displaySize = { width: video.width, height: video.height };
        faceapi.matchDimensions(canvas, displaySize);
        detectionTimeout = setInterval(async () => {
          const detections = await faceapi.detectAllFaces(video);
          const resizedDetections = faceapi.resizeResults(detections, displaySize);
          canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);
          resizedDetections.forEach((result, i) => {
            var resultText = '{{output}}';
            var confidenceText = '{{confidence}}';
            var drawOptions = {label: resultText.concat(" ", confidenceText, "%")};
            if (resultText === 'REAL') {
              drawOptions.boxColor = "#0f0";
            } else if (resultText === 'FAKE') {
              drawOptions.boxColor = "#f00";
            }
            const boxWithOffset = {
              x: result.box.x + xOffset,
              y: result.box.y + yOffset,
              width: result.box.width,
              height: result.box.height
            };
            const drawBox = new faceapi.draw.DrawBox(boxWithOffset, drawOptions);
            drawBox.draw(canvas);
          });
        }, 100);
      });
      video.addEventListener("paused", () => {
        clearTimeout(detectionTimeout);
      });
    });
  });
</script>
{%endblock%}